page-home {

  button {
    border: none;
    cursor: pointer;
    color: white;
    width: 100%;
    height: 50px;
    padding: 15px 40px;
    border-radius: 25px;
    font-size: 22px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, .4);
  }

  /* Ripple magic */
  button{
    position: relative;
    overflow: hidden;
  }

  button:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 5px;
    background: rgb(255, 255, 255);
    opacity: 0;
    transform: scale(1, 1) translate(-50%);
    transform-origin: 50% 50%;
  }

  @keyframes ripple {
    0% {
      transform: scale(100, 100);
      opacity: 0.5;
    }
    20% {
      transform: scale(100, 100);
      opacity: 0.5;
    }
    100% {
      opacity: 0.5;
      transform: scale(100, 100);
    }
  }

  button:focus:not(:active)::after {
    animation: ripple 0.5s ease-out;
  }

  .id {
    padding-top: 5px;
  }
  .click::after{
    animation: ripple 0.5s ease-out;
  }
}
