page-home {
  @-webkit-keyframes fade {
    0% {
      opacity: 0.4;     
    }
   
    50% {
      opacity: 1;
    }
   
    100% {
      opacity: 0.4;
    }
  }

  .fadeIn {
    -webkit-animation: fade ease-in 1;
   animation: fade ease-in 1;
   -webkit-animation-fill-mode: forwards;
   animation-fill-mode: forwards;
   -webkit-animation-duration: 3s;
   animation-duration: 3s;
 }

    
}


